{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'EmailSender/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}Email Sender{% endblock title %}</title>
</head>

<body>
    <div class="row">
        {% block flex-container-content %}
        <nav class="w-100 navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">
                <span class="pl-1 h2">Email Sender</span>
            </a>
        </nav>
    </div>
    <div class="flexbox-button">
        <a href="{% url 'compose' %}" class="btn btn-info">Compose</a>
    </div>
    {% endblock flex-container-content %}
    </div>

    {% block content %}{% endblock content %}

</body>

</html>
