{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'EmailSender/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Email Sender</title>
</head>

<body>

    <div class="flex-container">
        <div class="flexbox-header">
            <h1 class="header-text">Email Sender</h1>
        </div>
        <div class="flexbox-button">
            <button class="create-email-btn" type="button" onclick="show_email_template()">Send email</button>
        </div>
    </div>

    <script src="{% static 'EmailSender/create_email_template.js' %}"></script>
</body>

</html>
