.flex-container {
    display: flex;
}

.flexbox-header {
    flex: 1;
    background-color: darkcyan;
    color: white;
    line-height: 10px;
}

.header-text {
    padding-left: 5px;
}

.create-email-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
